<div class="col-sm-12" id="page-title">
    <h1>Coffee Entry {{ dmessage }}</h1>
</div>

<div class="col-sm-6">


    <!-- LOGIN FORM -->
    <form>
        <div class="form-group">
            <label>Name
            <input type="text" class="form-control" ng-model="formData.name">
        </div>
        <div class="form-group">
            <label>Country of origin
            <input type="text" class="form-control" ng-model="formData.countryOfOrigin">
        </div>
        <div class="form-group">
            <label>Roast
            <input type="text" class="form-control" ng-model="formData.roast">
        </div>
        <div class="form-group">
            <label>Detail Photo
            <input type="text" class="form-control" ng-model="formData.photo.detailPhoto">
        </div>

        <button type="submit" class="btn btn-warning btn-lg" ng-click="createOrUpdate()">Submit</button>
    </form>

    <hr>

</div>