<div class="col-sm-12" id="page-title">
    <h1>Coffee Entry {{ dmessage }}</h1>
</div>

<div class="col-sm-6">


    <!-- LOGIN FORM -->
    <form>
        <div class="form-group">
            <label>Company Name</label>
            <input type="text" class="form-control" ng-model="formData.companyName">
        </div>
        <div class="form-group">
            <label>Location
            <input type="text" class="form-control" ng-model="formData.companyLocation">
        </div>
        <div class="form-group">
            <label>Logo
            <input type="text" class="form-control" ng-model="formData.photo.companyLogo">
        </div>

        <button type="submit" class="btn btn-warning btn-lg" ng-click="createOrUpdate()">Submit</button>
    </form>

    <hr>

</div>