extend layout
block content
	h1 Admin Login
	form(method="post", action="/login")
		div.input
			span.label username
			input(type="text", name="username")
			span.label password
			input(type="password", name="password")
		div.actions
			input(type="submit", value="login")